  body{
    background-color: #202020;
    color: #FFF;
    font-family: 'Work Sans';
  }

  a, button{
    font-family: 'Work Sans';
  }

  a{
    color: #FFF;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  .alert-medium,
  .alert-normal{
    width: 60%;
    border-radius: 10px;
    border: solid 2px #FFFFFF30;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .alert-medium img,
  .alert-normal img{
    width: 30px;
    height: 30px;
  }

  .alert-medium{
    background-color: #EE7010;
  }

  .alert-normal{
    background-color: #305090;
  }

  .nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    border-bottom: solid 2px #101010;
  }

  .nav .nav-brand,
  .nav .nav-brand img{
    width: 60px;
    height: 60px;
  }

  .nav-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .section-main{
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #101010;
    align-items: start;
    justify-content: start;
  }

  .flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .card{
    background-color: #151515;
    width: 260px;
    height: 380px;
    border-radius: 20px;
  }

  .card img{
    border-radius: 20px 20px 0px 0px;
    width: 260px;
    height: auto;
    object-fit: cover;
  }

  .card .label{
    display: flex;
    flex-direction: column;
  }

  .footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    border-top: solid 2px #101010;
  }